<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mon CV enligne </title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %} " rel="stylesheet">
  <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %}  " rel="stylesheet">
  <link href=" {% static 'vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static 'vendor/boxicons/css/boxicons.min.css' %}  " rel="stylesheet">
  <link href=" {% static 'vendor/glightbox/css/glightbox.min.css' %}  " rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %} " rel="stylesheet">
  <link href=" {% static 'vendor/swiper/swiper-bundle.min.css' %}  " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v4.0.1
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">CV</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto" href="#about">A propos</a></li>
          <li><a class="nav-link scrollto" href="#skills">Compétences</a></li>
          <li><a class="nav-link scrollto " href="#why-us">Formation</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

     </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Nestor Samuel AHOMAHOU</h1>
          <h2>Je suis dévéloppeur d'application Web </h2>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
            <p>A propos</p>
        </div>
        <div class="row">
          <div class="col-lg-5 " data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'img/Sam.jpg' %} " class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
              <div>
            <p class="font-italic">
                je suis passionné des sciences mathématique,informatiques et de toutes nouvelles technologies. 
                Voici plus informations sur ma personnalité :
            </p>
            <ul>
                <li><i class="ri-check-double-line"></i> <b>Nom et Prénom :</b> Nestor Samuel AHOMAHOU </li>
              <li><i class="ri-check-double-line"></i><b>Annivesaire :</b> 26 Février 2001</li>
              <li><i class="ri-check-double-line"></i><b>Nationalité :</b> Béninois </li>
              <li><i class="ri-check-double-line"></i> <b>Tél :</b> 69604995/58275525  </li>
              <li><i class="ri-check-double-line"></i> <b>Niveau d'etude : </b>Bac+3 </li>
              <li><i class="ri-check-double-line"></i> <b>Email :</b>nestorahomahou@gmail.com  </li>
              <li><i class="ri-check-double-line"></i> <b>Ville :</b>Parakou,Bénin </li>
              <li><i class="ri-check-double-line"></i> <b>Freelance :</b> Disponible </li>
              <li><i class="ri-check-double-line"></i> <b>Site Web :</b> www.samuelahomahou.com  </li>
              
            </ul>
            <p>
                Je suis immédiatement disponible pour travailler sous pression ou pas.Contactez moi, et vous ne serai pas déçu.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">
            <div class="section-title">
                
                <h2>Compétences professionnelles</h2>
                <p>Compétences professionnelles</p>
            </div>
            <div>
                <p>Voici une liste de langages et logiciel que j'ai appris et dans lesquels je continue toujours de me perfectionner.Comme le souligne un dit-on!: On ne finit jamais d'apprendre </p>
            </div>
              <div class="row skills-content">
      
                <div class="col-lg-6" data-aos="fade-up">
                    
                  <div class="progress">
                    <span class="skill">HTML <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar1" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                  <div class="progress">
                    <span class="skill">CSS <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar2" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                  <div class="progress">
                    <span class="skill">JavaScript <i class="val">30%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar3" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                </div>
      
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
      
                  <div class="progress">
                    <span class="skill">Python (Django) <i class="val">60%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar4" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                  <div class="progress">
                    <span class="skill">Dart <i class="val">50%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar5" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                  <div class="progress">
                    <span class="skill">Photoshop <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar6" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  
      
                </div>
      
              </div>
      
            </div>
      </section><!-- End Skills Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">
        <div class="section-title">
          <h2>Formation & Experience</h2>
          <p>Formation & Experience</p>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-4 col-md-6 content-item">
            <span>2022-2023</span>
            <p></p>
            <b> <i>WEB DEVELOPER & GRAPHIC DESIGN</i> </b> 
            <br><br> 
            <p><b> Institut Universitaire de Technologies de Parakou </b></p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>2019-2020</span>
            <p></p>
            <b> <i>BACHELIER D'UNE SERIE SCIENCE EXPERIMENTALE (BAC D) </i> </b> 
            <br><br> 
            <p><b> Collège d'enseignement générale 1 d'Abomey Calavi </b></p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>2018-2019</span>
            <p></p>
            <b> <i>BACHELIER D'UNE SERIE SCIENCE MATHEMATIQUE (BAC C) </i> </b> 
            <br><br> 
            <p><b> Collège d'enseignement générale 1 de Dassa-Zoumé </b></p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>2021-Présent</span>
            <p></p>
            <b> <i>WEB DEVELOPPEUR </i> </b> 
            <br><br> 
            <p><b> Mise en place de plusieurs Projects </b></p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>2021-Présent</span>
            <p></p>
            <b> <i>GRAPHIC DESIGNER </i> </b> 
            <br><br> 
            <p><b> Gestion de plusieurs projects de conception de logo , d'affiche publicitaire et de retouche photo  </b></p>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contactez-moi</p>
        </div>
        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Parakou,Bénin  </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p> nestorahomahou@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Tél:</h4>
                <p>+229 69604995 /+229 58275525</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4" data-aos="fade-left" data-aos-delay="100">
            <form action="" method="POST" class="form-control form-control-lg"> 
              {% csrf_token %}
              {{form.as_p}}
              <button type="submit" class="btn text-white bg-success">Envoyer</button>
          </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Mon CV enligne</h3>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>CV</span></strong>. Samuel AHOMAHOU
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Nestor</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %} "></script>
  <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static 'vendor/php-email-form/validate.js'%} "></script>
  <script src=" {% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %} "></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %} "></script>

</body>

</html>